.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {
  width: 100%;
}

.user-table-container {
  width: 100%;
  overflow-x: auto;
}

.user-name {
  display: flex;
  align-items: center;
  text-align: left;
}
